body{
    font :18px/36px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #ddd;
}

h1{
    font-size: 80px;
    margin: 50px;
    text-align:center;
    text-shadow: 1px 1px 1px white;
}

.container{
    width :600px;
    margin : auto;
    padding : 20px;
    background-color: white;
    box-shadow: 0 0 3px 3px rgb(0,0,0,.5);
    border-radius: 5px;

}

.gallery li{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #666;
    display: inline-block;
    margin-left: 50px;
    position: relative;

}

.gallery li .bungkus1{
    border-radius: 50%;
}

.gallery li span{
    display: block;
    width: 120px;
    height: 120px;
    background-color: rgba(200,200,200,.5);
    position: absolute;
    border-radius: 50%;
    top:0;
    text-align: center;
    line-height: 120px;
    color: :#333;
    text-shadow: 1px 1px 1px #ddd;
    opacity:0;
    transform: scale(0) rotate(0deg);
    transition: .3s;
}

.gallery li a:hover span{
    opacity: 1;
    transform: scale(1) rotate(360deg);
}

.overlay{
    width: 0;
    height: 0;
    overflow: hidden;
    top: 0;
    left: 0;
    position: fixed;
    background-color: rgba(0,0,0,0);
    z-index: 9999;
    transition: 0,8ms;
    text-align: center;
    padding: 100px;
    border-radius: 0px;
}

.overlay:target{
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    width: auto;
    height: auto;
}

.overlay img{
    max-height: 100%;
    text-align: center;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);

}

.overlay:target img{
    animation: ZoomdanFade 1s;
}

.overlay .close{
        position: absolute;
        top: 50px;
        left: 50%;
        margin-left: -20px;
        color: white;
        text-decoration: none;
        background-color: black;
        border: 1px solid white;
        line-height: 14px;
        padding: 5px;
        text-align: center;
        opacity: 0;
}

.overlay:target .close{
    animation: slidedownade .5s .5s forwards;
}

@keyframes ZoomdanFade{
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes slidedownade{
    0%{
        opacity: 0;
        margin-top: -20;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}

.overlay:target .next{
    width: 120px;
    height: 77px;
    background-image: url(img/next.png);
    /*position: absolute;*/
    display: inline-block;
    /*top: 50%;*/
    text-indent: -9999px;
    margin-left: 50px;
    margin-bottom: 150px ;

}

.overlay:target .prev{
    width: 120px;
    height: 77px;
    background-image: url(img/prev.png);
    /*position: absolute;*/
    display: inline-block;
    /*top: 50%;*/
    text-indent: -9999px;
    margin-right: 50px;
    margin-bottom: 150px;

}